{%load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.2/tailwind.min.css"
    integrity="sha512-l7qZAq1JcXdHei6h2z8h8sMe3NbMrmowhOl+QkP3UhifPpCW2MC4M0i26Y8wYpbz1xD9t61MLT9L1N773dzlOA=="
    crossorigin="anonymous" />

  <link rel="stylesheet" href="/static/styles.css">

  <link rel="shortcut icon" href="/static/img/favicon.svg" type="image/x-icon">
  <title>LolGoal : Building the projects with others</title>
</head>

<body class="bg-gray-900 flex">

  <aside class="relative bg-black h-screen w-64 hidden sm:block shadow-xl">
    <nav class="text-white text-base font-semibold pt-3">
      <div class="flex flex-wrap mt-8">
        <div class="w-1/2">
          <img
            src="{{request.user.profile.file.url}}"
            class="mx-auto w-20 h-20 rounded-full"
          />
        </div>
        <div class="w-1/2">
          <span class="font-semibold text-white">{{request.user.username}}</span>
          <button class="bg-indigo-700 text-white px-4 py-2 rounded-full  hover:bg-white hover:text-indigo-700 focus:outline-none">
            Profile
          </button>
        </div>
      </div>
      <div class="mt-10 mb-4">
        <ul class="ml-4">
          <li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-yellow-500  hover:font-bold rounded-l-full">
            <span>
              <svg class="fill-current h-5 w-5 " viewBox="0 0 24 24">
                <path
                  d="M16 20h4v-4h-4m0-2h4v-4h-4m-6-2h4V4h-4m6
                      4h4V4h-4m-6 10h4v-4h-4m-6 4h4v-4H4m0 10h4v-4H4m6
                      4h4v-4h-4M4 8h4V4H4v4z"
                ></path>
              </svg>
            </span>
            <a href="#">
              <span class="ml-2">Dashboard</span>
            </a>
          </li>
          <li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-yellow-500  hover:font-bold rounded rounded-l-full">
            <span>
              <svg
                class="fill-current h-5 w-5 "
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7ZM14 7C14 8.10457 13.1046 9 12 9C10.8954 9 10 8.10457 10 7C10 5.89543 10.8954 5 12 5C13.1046 5 14 5.89543 14 7Z"
                  fill="currentColor"
                />
                <path
                  d="M16 15C16 14.4477 15.5523 14 15 14H9C8.44772 14 8 14.4477 8 15V21H6V15C6 13.3431 7.34315 12 9 12H15C16.6569 12 18 13.3431 18 15V21H16V15Z"
                  fill="currentColor"
                />
              </svg>
            </span>
            <a href="#">
             
              <span class="ml-2">Students</span>
            </a>
          </li>
          <li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-yellow-500  hover:font-bold rounded rounded-l-full">
            <span>
              <svg class="fill-current h-5 w-5 " viewBox="0 0 24 24">
                <path
                  d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2
                      2v14a2 2 0 002 2h14a2 2 0 002-2V5a2 2 0
                      00-2-2h-1V1m-1 11h-5v5h5v-5z"
                ></path>
              </svg>
            </span>
            <a href="#">
             
              <span class="ml-2">Events</span>
            </a>
          </li>
          <li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-yellow-500  hover:font-bold rounded rounded-l-full">
            <span>
              <svg class="fill-current h-5 w-5" viewBox="0 0 24 24">
                <path
                  d="M12 4a4 4 0 014 4 4 4 0 01-4 4 4 4 0 01-4-4 4 4 0
                      014-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4
                      8-4z"
                ></path>
              </svg>
            </span>
            <a href="#">
              <span class="ml-2">Blog</span>
            </a>
          </li>

          
          <li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-yellow-500  hover:font-bold rounded rounded-l-full">
            <span>
              <svg class="fill-current h-5 w-5 " viewBox="0 0 24 24">
                <path
                  d="M12 13H7v5h5v2H5V10h2v1h5v2M8
                      4v2H4V4h4m2-2H2v6h8V2m10 9v2h-4v-2h4m2-2h-8v6h8V9m-2
                      9v2h-4v-2h4m2-2h-8v6h8v-6z"
                ></path>
              </svg>
            </span>
            <a href="#">
              <span class="ml-2">Message</span>
            </a>
          </li>
          <li class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-yellow-500  hover:font-bold rounded rounded-l-full">
            <span>
              <svg
                class="fill-current h-5 w-5 "
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7 3C8.86384 3 10.4299 4.27477 10.874 6H19V8H10.874C10.4299 9.72523 8.86384 11 7 11C4.79086 11 3 9.20914 3 7C3 4.79086 4.79086 3 7 3ZM7 9C8.10457 9 9 8.10457 9 7C9 5.89543 8.10457 5 7 5C5.89543 5 5 5.89543 5 7C5 8.10457 5.89543 9 7 9Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M17 20C15.1362 20 13.5701 18.7252 13.126 17H5V15H13.126C13.5701 13.2748 15.1362 12 17 12C19.2091 12 21 13.7909 21 16C21 18.2091 19.2091 20 17 20ZM17 18C18.1046 18 19 17.1046 19 16C19 14.8954 18.1046 14 17 14C15.8954 14 15 14.8954 15 16C15 17.1046 15.8954 18 17 18Z"
                  fill="currentColor"
                />
              </svg>
            </span>
            <a href="#">
              <span class="ml-2">Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

  </aside>

  <div class="relative w-full flex flex-col h-screen overflow-y-hidden">

    <!-- Mobile Header & Nav -->
    <header x-data="{ isOpen: false }" class="w-full bg-black  py-5 px-6 sm:hidden">
      <div class="flex items-center justify-between">
        <a href="index.html">
          <img src="/static/img/lolGoal.png" alt="">
        </a>
        <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
          <i x-show="!isOpen" class="fas fa-bars"></i>
          <i x-show="isOpen" class="fas fa-times"></i>
        </button>
      </div>

      <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
        <a class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item"
          href="{%url 'profile' user.username %}">
          Portfolio
        </a>
        <a class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item" href="{%url 'edit'%}">
          Edit Profile
        </a>
        <a class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item" href="{%url 'edit'%}">
          Resume
        </a>

        <a href="#projects" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
          projects
        </a>
        <a href="#blog" class="flex items-center bg-black  text-white py-2 pl-4 nav-item">
          Blog
        </a>

        <a href="{%url 'logout'%}" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
          Sign Out
        </a>

      </nav>

    </header>

    <div class="w-full h-screen overflow-x-hidden flex">
      <main class="w-full flex-grow">


        <section class="text-gray-100 bg-indigo-900 body-font" style="background-image: url('/static/img/Event/3.svg');">
          <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-3/4 content-start sm:pr-10">
              <div class="w-full sm:p-4 px-4 mb-6">
                <h1 class="title-font font-medium text-3xl mb-2 text-white">
                  Welcome to Dashboard
                  <span class="mentorname">,{{user.username}}</span>

                </h1>
                <div class="leading-relaxed">
                  You are doing well , keep going.</div>
              </div>
              <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2 bg-gray-900 transform hover:scale-110">
                <h2 class="title-font font-bold text-xl text-white">{{count_join}}</h2>
                <p class="leading-relaxed font-medium">Students</p>
              </div>
              <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2 bg-gray-900 transform hover:scale-110  border-l border-teal-400">
                <h2 class="title-font font-bold text-xl text-white">{{count_project}}</h2>
                <p class="leading-relaxed font-medium">Created Projects</p>
              </div>
              <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2 bg-gray-900 transform hover:scale-110  border-l border-teal-400">
                <h2 class="title-font font-bold text-xl text-white">{{count_joined}}</h2>
                <p class="leading-relaxed font-medium">Joined Projects </p>
              </div>
              <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2 bg-gray-900 transform hover:scale-110  border-l border-teal-400">
                <h2 class="title-font font-bold text-xl text-white">{{count_joined}}</h2>
                <p class="leading-relaxed font-medium">Subscribers</p>
              </div>
            </div>
         
          </div>
        </section>
 
     
<div class="py-2 overflow-x-auto sm:-mx-6  lg:-mx-8 pr-10 lg:px-8">

  <div class="align-middle inline-block min-w-full overflow-hidden  shadow-2xl px-6 pt-3 ">
    <table class="w-full whitespace-no-wrap rounded-lg" id="projecttable">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase bg-indigo-700">
          <th class="px-4 py-3"> YOUR Project</th>
          <th class="px-4 py-3">Price</th>
          <th class="px-4 py-3">STATUS</th>
          <th class="px-4 py-3">Date</th>
          
          <th class="px-4 py-3">Students</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-gray-800 divide-y">
        {%for project in projects%}
     
        <tr class="text-gray-100 hover:bg-pink-900 hover:text-yellow-500" id="project-{{project.id}}">
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
             
              <div>
                <a href="{{project.get_absolute_url}}">
                <p class="font-semibold">{{project.title}}</p>
</a>
              </div>
            </div>
          </td>
          <td class="px-4 py-3 text-sm">
          {{project.price}}
          </td>
          <td class="px-4 py-3 text-xs">
            <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
              {{project.status}}
            
            </span>
         
          </td>
          <td class="px-4 py-3 text-sm">
          {{project.updated}}
          </td>
          <td class="px-4 py-3 text-sm">
            {{project.join.count}}
            </td>
          <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">
              <a href="{%url 'project:updateproject' project.pk%}">
              <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-100 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" aria-label="Edit">
                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
                </svg>
              </button></a>
             
          

              <div x-data="{show:false}"
              class="text-white font-medium inline-flex items-center  lg:mb-0 mt-3">
              <button @click={show=true} class="transition  duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 border-0 bg-red-600 py-2 px-6 focus:outline-none rounded text-lg text-white">
                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                </svg>
              </button>

              <div class="fixed z-10 inset-0 overflow-y-auto" x-show="show">
                <div
                  class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">


                  <div class="fixed inset-0 transition-opacity" @click={show=false}>
                    <div class="absolute inset-0"></div>
                  </div>

                  <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;

                  <div
                    class="inline-block align-bottom bg-gray-900  rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                    role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                    <div class="bg-green-400  px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                      <div class="sm:flex sm:items-start">
                     
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                          <h3 class="text-lg leading-6 font-bold text-black" id="modal-headline">
                     Your project will be deleted .
                          </h3>
                       
                        </div>
                      </div>
                    </div>
                    <div class="bg-black px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                      <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">

                        <button class="inline-flex justify-center w-full rounded-md bg-red-600 border-0 py-2 px-8 focus:outline-none hover:bg-red-500 rounded 
                      font-medium text-gray-100 sm:text-sm sm:leading-5" onClick="deleteproject({{project.id}})">
                          Delete
                        </button>

                      </span>
                      <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                        <button type="button" @click={show=false}
                          class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                          Cancel
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            </div>
            
          </td>
        </tr>
        
{%endfor%}
    

      </tbody>
    </table>

  </div>
</div>

<div class="py-2 overflow-x-auto sm:-mx-6  lg:-mx-8 pr-10 lg:px-8">

  <div class="align-middle inline-block min-w-full overflow-hidden bg-gray-900 shadow-2xl px-6 pt-3">
    <table class="w-full whitespace-no-wrap rounded-lg">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase bg-black">
          <th class="px-4 py-3">Joined Project</th>
          <th class="px-4 py-3">steps</th>
          <th class="px-4 py-3">STATUS</th>
          <th class="px-4 py-3">Date</th>
          <th class="px-4 py-3"></th>
        </tr>
      </thead>
      <tbody class="bg-gray-800 divide-y">
        {%for project in joined_project%}
        <tr class="text-gray-100 hover:bg-indigo-900 hover:text-pink-500 transform hover:scale-1">
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div>
                <p class="font-semibold">{{project.title}}</p>

              </div>
            </div>
          </td>
          <td class="px-4 py-3 text-sm">
          {{project.steps.count}}
          </td>
          <td class="px-4 py-3 text-xs">
            <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
              Active
            </span>
          </td>
          <td class="px-4 py-3 text-sm">
          {{project.updated}}
          </td>
          <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">
              <a href="{{project.get_absolute_url}}">
              <button class="flex items-center justify-between px-2 py-2 text-sm font-bold leading-5 text-green-300 rounded-lg  focus:outline-none focus:shadow-outline-gray" aria-label="Edit">
              Detail
              </button></a>


          
            </div>
          </td>
        </tr>
{%endfor%}
    

      </tbody>
    </table>

  </div>
</div>





      </main>
    </div>

  </div>
  <script>
    function deleteproject(id) {
      $.ajax({
        url: '{% url "project:delete_project" %}',
        data: {
          'id': id,
        },
        dataType: 'json',
        success: function (data) {
          if (data.deleted) {
            $("#projecttable #project-" + id).remove();
          }
        }
      });
    }
  </script>

  <!-- AlpineJS -->
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <!-- Font Awesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</body>

</html>