{%extends 'base.html' %}
{%block content %}


<section class="text-gray-500 bg-gray-900 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <form action="" method="post">
        {%csrf_token%}
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-full">
          <div class="relative">
            <label for="message" class="leading-7 text-sm text-gray-400">Associated Email with your account</label>
             {{form.email}}
          </div>
        </div>
        <div class="p-2 w-full">
          <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Submit</button>
        </div>
      </form>

      </div>
    </div>
  </div>
</section>

<script>

    window.onload= function(){
  document.getElementById('id_email').className+="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-base px-4 py-2";
    };
</script>

{%endblock%}


